*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    flex-direction: column;
 text-align: center;
 margin-top: 300px;

}
input, button,::placeholder{
width: 150px;
height: 90px;
border-collapse: collapse;
background-color: rgb(139, 139, 164);
font-size: large;
color: black;
scroll-snap-align: ;
}